.container {
    align-items: center;
    background-size: cover;
    background: var(--color-secondary) url("../../static/images/main-background.jpg") no-repeat fixed center;
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0 2000px rgba(69, 179, 231, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    height: 80vh;
    min-height: 100%;
    width: 100%;
    padding: 0.5rem;
}

.headerMain {
    font-size: 2rem;
    padding: 4rem 0;
    text-align: center;
}

.headerSecondary {
    font-size: 1.5rem;
    padding-bottom: 5rem;
    text-align: center;

}

@media (min-width: 640px) {
    .headerMain {
        font-size: 3rem;
    }

    .headerSecondary {
        font-size: 2rem;
    }
}
